<footer class="page-footer font-small bg-info pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase"><%= t".footer_content" %></h5>
        <p><%= t ".content" %></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 bg-primary"><%= t ".copy_right" %>
  </div>
</footer>
